---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Taustro</title>
	</head>
	<body>
		<h1>Taustro</h1>
		

		<button id="btn">Поздороваться</button>

		<script>
		import { invoke } from '@tauri-apps/api/core'

		document.getElementById('btn')?.addEventListener('click', async () => {
			const msg = await invoke('greet', { name: 'Taustro' })
			console.log(msg)
		})
		</script>

	</body>
</html>
